

.heading{
    font-size: 3rem;
    color: 'montage';
}

.time{
    font-size: 2rem;
}

.button{
    background: blue;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 0.3rem;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
}